.zvit-block {
   padding-top: 6px; 
   margin-top: 6px;
   width: 100%;
}

.buttom {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 18px;
   padding: 4px;
   width: auto;
   min-width: 100px;
   background-color:rgb(49, 173, 211);
   -moz-background-color:rgb(49, 173, 211);
   -ms-background-color:rgb(49, 173, 211);
   -webkit-background-color:rgb(49, 173, 211);
   -o-background-color:rgb(49, 173, 211);
   border-radius: 15px;
   color:#072585;
   opacity: 100%;
   padding: 10px;
   float: right;
}

.buttom:hover {
   color: white;
   background-color:#072585;
   -moz-background-color:#072585;
   -ms-background-color:#072585;
   -webkit-background-color:#072585;
   -o-background-color:#072585;
   border: 1px solid;
   border-color: rgb(173, 191, 230);
}